<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="">Filter By:&nbsp;</div>
            <div class=""><input type="text" [(ngModel)]='listFilter'/></div>
        </div>
        <div class="row">
            <h4 class="">Filtering By: "{{listFilter}}"</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" *ngIf='products && products.length'>
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary btn-sm"
                        (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image</button></th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor='let p of filteredProducts;'>
                <tr>
                    <td><img *ngIf='showImage' width={{imgWidth}} src={{p.imageUrl}} title={{p.productName}} [style.margin]='imgMargin'/></td>
                    <td>{{p.productName}}</td>
                    <td>{{p.productCode | lowercase | convertToSpaces: '-'}}</td>
                    <td>{{p.releaseDate}}</td>
                    <td>{{p.price | currency}}</td>
                    <!--<td>{{getStarRating(p.starRating)}}</td>-->
                    <td><pm-star [rating]='p.starRating' (notify)='onNotify($event);'></pm-star></td>
                    <td><a class="btn btn-primary btn-sm text-white" [routerLink]="['/products', p.productId]">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>